/* needs four of them to be 100% height to full-screen the background animation,
   losing any one of them could lead to being not full-screen */
body, html, #root, .App {
  height: 100%;
  text-align: center;
}

/* using !important to override in-line style position: absolute */
.vanta-canvas {
  position: fixed !important;
  z-index: -1 !important;
}

.center {
  display: flex;
  justify-content: center;
}

.home-card {
  animation: popping 0.5s;
  transition: transform .5s easy-in;
}

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 

}
