

.bounding-box {
	position: absolute;
	box-shadow: 0 0 0 3px #DF2963 inset;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
	}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
	 .Tilt-pic {
	 	width: 300px !important;
	 }
}